# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]


# =========================
# ENTORNO VIRTUAL
# =========================

venv/
.venv/


# =========================
# VARIABLES PRIVADAS
# =========================

.env


# =========================
# BASE DE DATOS LOCAL
# =========================

vendera.db
*.db


# =========================
# EDITORES
# =========================

.vscode/
.idea/


# =========================
# SISTEMA OPERATIVO
# =========================

.DS_Store
Thumbs.db


# =========================
# BACKUPS
# =========================

*.zip